*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}
.titulo{
  text-align: center;
}

.botonAgregar,
.botonModificar,
.botonBorrar,
.botonVolver{
  color: white;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border-style: none;
  cursor:pointer;
}

.botonAgregar,
.botonModificar{
  background-color: green;
}
.botonBorrar{
  color: white;
  background-color: red;
}
.botonVolver{
  background-color: #00B7FF;
}

.formulario{
  margin: auto;
  width: 20%;
}
