<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <p><a href="/movies">Listado de Películas</a></p>
    <p><a href="/movies/new">Listado de Peliculas Por Fecha</a></p>
    <p><a href="/movies/recommended">Listado de Películas Por Rating</a></p>
    <p><a href="/genres">Listado de Generos</a></p>
  </body>
</html>
